Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Maps/DemoGame.umap
Content/ModSci_Engineer/Maps/Example_Stationary_2.umap
Content/ModSci_Engineer/Maps/Example_Stationary_2_BuiltData.uasset
Content/ModSci_Engineer/Maps/Example_Stationary_BuiltData.uasset
Content/ModSci_Engineer/Maps/Overview.umap
Content/ThirdPersonBP/Maps/Levels/DemoGame_Level_BuiltData.uasset
Content/ThirdPersonBP/Maps/Backups/DemoGame_Level1_backup.umap
